sphinx==4.1.2
sphinx-argparse==0.2.5
sphinx-rtd-theme==0.5.2
sphinx-autodoc-typehints==1.12.0
python
biopython
deeptools
lmfit
matplotlib-base
modin[ray]
modin
numpy
pandas
joblib
pybedtools
pybigwig
ray-core
scikit-learn
scipy
swifter
parallel
seaborn
pysam