sphinx==4.1.2
sphinx-argparse==0.2.5
sphinx-rtd-theme==0.5.2
sphinx-autodoc-typehints==1.12.0
python ==3.7.9
biopython >=1.78
deeptools >=3.5.0
lmfit >=1.0.1
matplotlib-base ==3.1.1
modin[ray]
modin  ==0.8.2
numpy >=1.19.5
pandas >=1.1.4
joblib >=1.0.0
pybedtools >=0.8.1
pybigwig >=0.3.17
ray-core ==1.1.0
scikit-learn >=0.24.0
scipy >=1.6.0
swifter >=1.0.6
parallel
seaborn ==0.11.2
pysam ==0.16.0.1